<div class="panel panel-default">
  <div class="panel-heading">
    <strong class="panel-title">
      <%= comment.users_full_name %>
    </strong>
    <span class="text-muted"><%= comment.human_created_at %></span>
  </div>
  <div class="panel-body">
    <%= comment.body %>
  </div>
</div>

<% if can? :destroy, comment%>
<p>
  <%= link_to "#{t('actions.delete')} #{t('activerecord.models.comment').downcase}",
              [comment.article, comment],
              method: :delete,
              class: 'btn btn-default btn-m',
              data: { confirm: t('messages.confirm') } %>
</p>
<% end %>
