</div>
  <%= simple_form_for [ @article, Draper.undecorate_chain(@article.comments).build ] do |f|%>
    <%= f.input :body, as: :text %>
    <%= f.button :submit, t('actions.save') %>
  <% end%>
</div>

